@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";


    <form>
        <div class="form-group">
            <label for="inputElement">起始元件</label>
            @Html.DropDownList("inputElement", (IEnumerable<SelectListItem>)ViewData["inputElement"], new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="inputAttribute">元件屬性</label>
            <select id="inputAttribute" class="form-control">
                <option selected>請先選擇起始元件</option>
            </select>
        </div>
        <div class="form-group">
            <label for="inputMethod">篩選條件</label>
            <select id="inputMethod" class="form-control">
                <option value="StartWith">StartWith</option>
                <option value="EndWith">EndWith</option>
                <option value="Content">Content</option>
            </select>
        </div>
        <div class="form-group">
            <label for="inputMethodText">篩選條件參數</label>
            <input type="text" class="form-control" id="inputMethodText">
        </div>
        <div class="form-group">
            <label for="inputOperator">運算子</label>
            <select id="inputOperator" class="form-control">
                <option value="And">And</option>
                <option value="Or">Or</option>
            </select>
        </div>


        <button class="btn btn-md btn-primary" id="btnAddRow" type="button"> Add new Row</button>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>

    <div class="container pt-4">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">inputOperator</th>
                        <th class="text-center">inputElement</th>
                        <th class="text-center">inputAttribute</th>
                        <th class="text-center">inputMethod</th>
                        <th class="text-center">inputMethodText</th>
                        <th class="text-center">Remove Row</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>

    </div>
}

@section Scripts{
    <script>
        var rowIdTitle = 'oForm_tableRules_Row_';


        $(document).ready(function () {
            function SetAttributeEmpty() {
                $('#inputAttribute').empty();
                $('#inputAttribute').append($('<option></option>').val('').text('請先選擇起始元件'));
            }

            //jQuery button click event to add a row
            var rowIdx = 0;
            $('#btnAddRow').on('click', function () {          
                rowIdx++;
                $('#tbody').append('<tr id=' + rowIdTitle + rowIdx + '><td class="text-center">' + $("#inputOperator").val() + '</td><td class="text-center">' + $("#inputElement").val() + '</td><td class="text-center">' + $("#inputAttribute").val() + '</td><td class="text-center">' + $("#inputMethod").val() + '</td><td class="text-center">' + $("#inputMethodText").val() + '</td><td class="text-center"><button class="btn btn-danger remove" type="button">Remove</button></td></tr>');
                $("#oForm_tableRules_Row_1").find("td:first").html("");
                setFirstTd();
            });

            $('#inputElement').change(function () { ChangeAttributeReplaceWith(); });


            // jQuery button click event to remove a row. 
            $('#tbody').on('click', '.remove', function () {               
                // Getting all the rows next to the row 
                // containing the clicked button 
                var child = $(this).closest('tr').nextAll();

                // Iterating across all the rows  
                // obtained to change the index 
                child.each(function () {
                    // Getting <tr> id. 
                    var id = $(this).attr('id');

                    // Getting the <p> inside the .row-index class. 
                    //var idx = $(this).children('.row-index').children('p');

                    // Gets the row number from <tr> id. 
                    var dig = parseInt(id.substring(21));

                    // Modifying row index. 
                    //idx.html(`${dig - 1}`);

                    // Modifying row id. 
                    $(this).attr('id', `${rowIdTitle}${dig - 1}`);
                });

                // Removing the current row. 
                $(this).closest('tr').remove();

                // Decreasing total number of rows by 1. 
                rowIdx--;   
                setFirstTd();
            });
        })

        function ChangeAttributeReplaceWith() {
            var inputElement = $.trim($('#inputElement option:selected').val());
            if (inputElement.length == 0) {
                SetAttributeEmpty();
            }
            else {
                $.ajax(
                    {
                        url: "@Url.Action("GetAttributeData", "Home")",
                        data: { element: inputElement },
                        type: 'post',
                        cache: false,
                        async: false,
                        dataType: 'html',
                        success: function (data) {
                            if (data.length > 0) {
                                $('#inputAttribute').replaceWith(data);
                            }
                        }
                    });
            }
        }

        function setFirstTd() {
            $("#oForm_tableRules_Row_1").find("td:first").html("");
        }
    </script>
}