@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <div id="source">
    <h style="color:#ff0000; font-size:30px">Set SOURCE(xml level:3)</h>
    <div class="container pt-4" style="border-color:#ff0000;border-width:3px;border-style:solid;padding:5px;">
        <div class="sourcediv table-responsive">
                @*<table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">inputOperator</th>
                        <th class="text-center">inputElement</th>
                        <th class="text-center">inputAttribute</th>
                        <th class="text-center">inputMethod</th>
                        <th class="text-center">inputMethodText</th>
                        <th class="text-center">HeadGroupName</th>
                        <th class="text-center">resultName</th>
                        <th class="text-center">Remove Row</th>
                        <th class="text-center">Add SubRow</th>
                    </tr>
                </thead>
                <tbody id="tbodyHead">
                </tbody>
            </table>*@
            </div>
        </div>
    <button class="btn btn-md btn-primary" id="btnAddSourceRow" type="button">新增來源</button>
    </div>

    <br><br>  
    <div id="condition">
    <h style="color: #006eff; font-size: 30px">Set CONDITION</h>
    <div class="container pt-4" style="border-color:#006eff;border-width:3px;border-style:solid;padding:5px;">
        <div class="conditiondiv table-responsive">
            @*<table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">inputOperator</th>
                            <th class="text-center">inputElement</th>
                            <th class="text-center">inputAttribute</th>
                            <th class="text-center">inputMethod</th>
                            <th class="text-center">inputMethodText</th>
                            <th class="text-center">resultName</th>
                            <th class="text-center">Remove Row</th>
                            <th class="text-center">Add SubRow</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyFoot">
                    </tbody>
                </table>*@
        </div>
    </div>
    <button class="btn btn-md btn-primary" id="btnAddConditionRow" type="button">新增條件</button>
    </div>

    <br><br>
    <div id="logic">
        <h style="color: #6bff33; font-size: 30px">SetLOGIC</h>
        <div class="container pt-4" style="border-color:#6bff33;border-width:3px;border-style:solid;padding:5px;">
            <select id="sel_logic" class="form-control" disabled="true">
                <option value="N">一般判斷式</option>
                <option value="IF">IF判斷式</option>
                <option value="IE">IF..ELSE判斷式</option>
            </select>
            <div class="col-md-3">
                <div class="form-group logicdiv table-responsive">
                </div>
            </div>
            <div class="col-md-9">
                <div id="logic_content" class="form-group logic-content-div table-responsive" style="font-size:24px">

                </div>
            </div>
        </div>
        <button class="btn btn-md btn-primary" id="btnGen" type="button">Gen</button>
    </div>
}

@section Scripts{
    <script>
        const SourceRowIdTitle = 'oForm_SourceRow_';
        const ConditionRowIdTitle = 'oForm_ConditionRow_';
        const LogicIfRowIdTitle = 'oForm_LogicIfRow_';
        const LogicThenRowIdTitle = 'oForm_LogicThenRow_';
        const LogicElseRowIdTitle = 'oForm_LogicElseRow_';
        var sourceElement = '';
        var attributeElement = '';
        const arySource = [];
        const aryCondition = [];
        var aryRes = [];

        $(document).ready(function () {
            //row expand key word => data-toggle="collapse", <a data-toggle="collapse" href="#collapseExample">+</a>
            var sourceRowIndex = 0;
            var conditionRowIndex = 0;
            var logicIfRowIndex = 0;
            var logicThenRowIndex = 0;
            var logicElseRowIndex = 0;

            /******來源區塊*****/
            $('#btnAddSourceRow').on('click', function () {
                sourceRowIndex++;
                var trId = SourceRowIdTitle + sourceRowIndex
                $('.sourcediv').append(sourceAppend(trId, 'M'));
                setFirstTd(trId);
                removeSelectAttributeFirstOpt();
            });
            $('.sourcediv').on('click', '.remove', function () {
                if (!$(this).closest('tr').hasClass('subrow'))
                {// 移除主Row
                    var currentTrId = $(this).closest('tr').attr('id')
                    var subRows = getSubRow(currentTrId);
                    subRows.each(function () {
                        $(this).closest('tr').remove();
                    })

                    /* 重新設定ID */
                    var child = $(this).closest('tr').nextAll().not(".subrow")
                    child.each(function () {
                        var id = $(this).attr('id');
                        var dig = parseInt(id.substring(21));

                        // Modifying row index.
                        //idx.html(`${dig - 1}`);

                        // Modifying row id.
                        renameSubRow2(id, `${SourceRowIdTitle}${dig - 1}`);
                        $(this).attr('id', `${SourceRowIdTitle}${dig - 1}`);
                    });

                    //Head刪除主Row後，有相依的Foot Row也要一併刪除
                    var source = $(this).closest('tr').find('input[class*="input-source-alias"]').val();
                    if (source.length > 0) {
                        $('.conditiondiv').find('tr select[class*="sel-source"]').each(function () {
                            if ($(this).val() == source) {
                                $('.conditiondiv').find('tr button[class*="remove"]').click();
                            }
                        })
                        //移除下拉選單對應的Source
                        updateSource("R", source);
                    }
                    $(this).closest('table').remove();

                    sourceRowIndex--;
                }
                else
                {//移除次Row
                    var id = $(this).closest('tr').attr('id');
                    var idSplit = id.split('_');
                    $(this).closest('tr').remove();
                    var parentId = idSplit[0] + '_' + idSplit[1] + '_' + idSplit[2] + '_'+ idSplit[3]
                    renameSubRow(parentId);
                }


                setFirstTd();
            });
            $('.sourcediv').on('click', '.addSubRow', function () {
                var parentRowId = $(this).closest('tr').attr('id');
                $('#' + parentRowId).after(sourceAppend(parentRowId, 'D'))
                renameSubRow(parentRowId)
                removeSelectAttributeFirstOpt();
            });
            $('.sourcediv').on('click', '.setSource', function () {
                if (/*confirm('別名設定後無法變更\n\n請確認！') == true*/1 == 1) {
                    //檢查行為參數是否填寫
                    var methodTextCheck_ = methodTextCheck($(this));
                    if (methodTextCheck_.length >= 1) {
                        alert(methodTextCheck_); return;
                    }

                    var inputSource = $(this).closest('tr').find('input[class*="input-source-alias"]').val();
                    //加入源頭條件群組名稱至下拉選單
                    if (inputSource.length > 0) {
                        //檢查特殊字元
                        var checkSourceSpecial = specialCharCheck(inputSource);
                        if (checkSourceSpecial.length > 0) {
                            alert(checkSourceSpecial); return;
                        }

                        /*新增下拉選單選項*/
                        var res = updateSource("A", inputSource)
                        if (res.length > 0) {
                            alert(res);
                            return;
                        }
                        //確認別名後，無法再進行異動
                        $(this).closest('tbody').find('button').attr('disabled', true);
                        $(this).closest('tbody').find('select').attr('disabled', true);
                        $(this).closest('tbody').find('input').attr('disabled', true);
                        //變更<tbody> ID
                        $(this).closest('tr').parent('tbody').attr('id', 'TBODY_SOURCE_' + inputSource);

                        setSourceConditionObject("S", inputSource);
                    }
                } else {
                    return ;
                }
            })
            $('.sourcediv').on('change', '.sel-method', function () {
                changeMethod($(this).closest('tr'));
            })


            /******條件區塊*****/
            $('#btnAddConditionRow').on('click', function () {
                if (arySource.length <= 0) {
                    alert('請先設定來源別名!');
                    return;
                }

                conditionRowIndex++;
                var trId = ConditionRowIdTitle + conditionRowIndex
                $('.conditiondiv').append(conditionAppend(trId, 'M'));
                setFirstTd(trId);
            });
            $('.conditiondiv').on('click', '.remove', function () {
                if (!$(this).closest('tr').hasClass('subrow')) {// 移除主Row
                    var currentTrId = $(this).closest('tr').attr('id')
                    var subRows = getSubRow(currentTrId);
                    subRows.each(function () {
                        $(this).closest('tr').remove();
                    })

                    /* 重新設定ID */
                    var child = $(this).closest('tr').nextAll().not(".subrow")
                    child.each(function () {
                        var id = $(this).attr('id');
                        var dig = parseInt(id.substring(21));

                        // Modifying row index.
                        //idx.html(`${dig - 1}`);

                        // Modifying row id.
                        renameSubRow2(id, `${ConditionRowIdTitle}${dig - 1}`);
                        $(this).attr('id', `${ConditionRowIdTitle}${dig - 1}`);
                    });

                    $(this).closest('table').remove();

                    conditionRowIndex--;
                }
                else {
                    var id = $(this).closest('tr').attr('id');
                    var idSplit = id.split('_');
                    $(this).closest('tr').remove();
                    var parentId = idSplit[0] + '_' + idSplit[1] + '_' + idSplit[2] + '_' + idSplit[3]
                    renameSubRow(parentId);
                }
                //setFirstTd();
            });
            $('.conditiondiv').on('click', '.addSubRow', function () {
                var parentRowId = $(this).closest('tr').attr('id');
                $('#' + parentRowId).after(conditionAppend(parentRowId, 'D'));
                renameSubRow(parentRowId)
            });
            $('.conditiondiv').on('click', '.setCondition', function () {
                if (/*confirm('別名設定後無法變更\n\n請確認！') == true*/1 == 1) {
                    //檢查行為參數是否填寫
                    var methodTextCheck_ = methodTextCheck($(this));
                    if (methodTextCheck_.length >= 1) {
                        alert(methodTextCheck_); return;
                    }

                    var inputCondition = $(this).closest('tr').find('td[class*="condition"] input').val().trim();
                    //加入源頭條件群組名稱至下拉選單
                    if (inputCondition.length > 0) {
                        //檢查特殊字元
                        var checkConditionSpecial = specialCharCheck(inputCondition);
                        if (checkConditionSpecial.length > 0) {
                            alert(checkConditionSpecial);
                            return;
                        }

                        /*新增Condition下拉選單選項*/
                        var resCondition = updateCondition("A", inputCondition)
                        if (resCondition.length > 0) {
                            alert(resCondition);
                            return;
                        }

                        //sel-source要先disabled true，才不會被updateSource()更新下拉選單，把已經選好的來源蓋掉。
                        $(this).closest('tbody').find('select').attr('disabled', true);
                        /*新增下Source拉選單選項*/
                        var resSource = updateSource("A", inputCondition)
                        if (resSource.length > 0) {
                            alert(resSource);
                            return;
                        }
                        //確認別名後，無法再進行異動
                        $(this).closest('tbody').find('button').attr('disabled', true);                        
                        $(this).closest('tbody').find('input').attr('disabled', true);
                        //變更<tbody> ID
                        $(this).closest('tr').parent('tbody').attr('id', 'TBODY_CONDITION_' + inputCondition);

                        setSourceConditionObject("C", inputCondition);
                        for (var i = 0; i < aryCondition.length; i++) {
                            if (aryCondition[i].key == inputCondition) {
                                var tips = getConditionObject(inputCondition);
                                aryCondition[i].tooltips = tips;

                                //更新Condition到下拉選單
                                $('.selCondition').append('<option value = "' + inputCondition + '" title = "' + tips + '">' + inputCondition + '</option>');//.replaceWith(getCondition);
                            }
                        }

                        //trigger change事件，並解鎖下拉選單
                        //$('#sel_logic').trigger('change');
                        $('#sel_logic').attr('disabled', false);
                    }
                } else {
                    return;
                }
            })
            $('.conditiondiv').on('change', '.sel-source', function () {
                var sel = $(this).closest('tr').find('select[class*="sel-source"]');
                sel.attr("source", sel.val());
            })
            $('.conditiondiv').on('change', '.sel-method', function () {
                changeMethod($(this).closest('tr'));
            })


            /******邏輯組合區塊*****/
            /*IF SCOPE*/
            $('#btnGen').on('click', function () {
                var res = '';
                var type = $('#sel_logic').val();
                var tab = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
                $('#logic_content').empty();
                res += "路徑查詢邏輯：<br>"

                if (type == "N") {                    
                    $('#tbody_logic').find('tr[id^="oForm_LogicIfRow"]').each(function () {
                        $(this).find('td select').each(function () {
                            if ($(this).hasClass('selCondition')) {
                                res += tab + $(this).find("option:selected").attr('title') + '<br>';
                            }
                            else {
                                res += tab + $(this).find("option:selected").text() + '<br>';
                            }
                        })
                    })
                    $('#logic_content').append(res);
                }
                else if (type == "IF") {
                    res += "如果：<br>"
                    $('#tbody_logic').find('tr[id^="oForm_LogicIfRow"]').each(function () {
                        $(this).find('td select').each(function () {
                            if ($(this).hasClass('selCondition')) {
                                res += tab + $(this).find("option:selected").attr('title') + '<br>';
                            }
                            else {
                                res += tab + $(this).find("option:selected").text() + '<br>';
                            }
                        })
                    })
                    res += "執行查詢：<br>"
                    $('#tbody_logic').find('tr[id^="oForm_LogicThenRow"]').each(function () {
                        $(this).find('td select').each(function () {
                            if ($(this).hasClass('selCondition')) {
                                res += tab + $(this).find("option:selected").attr('title') + '<br>';
                            }
                            else {
                                res += tab + $(this).find("option:selected").text() + '<br>';
                            }
                        })
                    })
                    $('#logic_content').append(res);
                }
                else if (type == "IE") {
                    res += "如果：<br>"
                    $('#tbody_logic').find('tr[id^="oForm_LogicIfRow"]').each(function () {
                        $(this).find('td select').each(function () {
                            if ($(this).hasClass('selCondition')) {
                                res += tab + $(this).find("option:selected").attr('title') + '<br>';
                            }
                            else {
                                res += tab + $(this).find("option:selected").text() + '<br>';
                            }
                        })
                    })
                    res += "執行查詢：<br>"
                    $('#tbody_logic').find('tr[id^="oForm_LogicThenRow"]').each(function () {
                        $(this).find('td select').each(function () {
                            if ($(this).hasClass('selCondition')) {
                                res += tab + $(this).find("option:selected").attr('title') + '<br>';
                            }
                            else {
                                res += tab + $(this).find("option:selected").text() + '<br>';
                            }
                        })
                    })
                    res += "否則執行查詢：<br>"
                    $('#tbody_logic').find('tr[id^="oForm_LogicElseRow"]').each(function () {
                        $(this).find('td select').each(function () {
                            if ($(this).hasClass('selCondition')) {
                                res += tab + $(this).find("option:selected").attr('title') + '<br>';
                            }
                            else {
                                res += tab + $(this).find("option:selected").text() + '<br>';
                            }
                        })
                    })
                    $('#logic_content').append(res);
                }
            });
            $('.logicdiv').on('click', '.addif', function () {
                logicIfRowIndex++;
                var preTrId = LogicIfRowIdTitle + (logicIfRowIndex - 1)
                var trId = LogicIfRowIdTitle + logicIfRowIndex;
                if (logicIfRowIndex == 1) {
                    $('.logicdiv').find('#ifRow').after(logicAppend('A', trId));
                }
                else {
                    $('#' + preTrId).after(logicAppend('A', trId));
                }                
                setFirstTd(LogicIfRowIdTitle + '1');
            });
            $('.logicdiv').on('click', '.addthen', function () {
                logicThenRowIndex++;
                var preTrId = LogicThenRowIdTitle + (logicThenRowIndex - 1)
                var trId = LogicThenRowIdTitle + logicThenRowIndex;
                if (logicThenRowIndex == 1) {
                    $('.logicdiv').find('#thenRow').after(logicAppend('A', trId));
                }
                else {
                    $('#' + preTrId).after(logicAppend('A', trId));
                }
                setFirstTd(LogicThenRowIdTitle + '1');
                //renameSubRow(trId);
            });
            $('.logicdiv').on('click', '.addelse', function () {
                logicElseRowIndex++;
                var preTrId = LogicElseRowIdTitle + (logicElseRowIndex - 1)
                var trId = LogicElseRowIdTitle + logicElseRowIndex;
                if (logicElseRowIndex == 1) {
                    $('.logicdiv').find('#elseRow').after(logicAppend('A', trId));
                }
                else {
                    $('#' + preTrId).after(logicAppend('A', trId));
                }
                setFirstTd(LogicElseRowIdTitle + '1');
                //renameSubRow(trId);
            });
            $('.logicdiv').on('click', '.remove', function () {
                var currentTrId = $(this).closest('tr').attr('id');
                var removeType = '';
                var sub = 0;
                var title = '';

                if (currentTrId.indexOf('If') != -1) {
                    logicIfRowIndex--;
                    removeType = 'oForm_LogicIfRow';
                    sub = 17;//從index17開始取id編號
                    title = LogicIfRowIdTitle;
                }
                else if (currentTrId.indexOf('Then') != -1) {
                    logicThenRowIndex--;
                    removeType = 'oForm_LogicThenRow';
                    sub = 19;//從index19開始取id編號
                    title = LogicThenRowIdTitle;
                }
                else if (currentTrId.indexOf('Else') != -1) {
                    logicElseRowIndex--;
                    removeType = 'oForm_LogicElseRow';
                    sub = 19;
                    title = LogicElseRowIdTitle;
                }

                var child = $(this).closest('tr').nextAll();
                child.each(function () {
                    if ($(this).attr('id').indexOf(removeType) != -1) {
                        var id = $(this).attr('id');                        
                        var dig = parseInt(id.substring(sub));
                        $(this).attr('id', `${title}${dig - 1}`);
                    }
                })
                $(this).closest('tr').remove();
                setFirstTd(title + '1');
            })
            $('#sel_logic').on('change', function () {
                $('#logic_content').empty();
                logicIfRowIndex = 0;
                logicThenRowIndex = 0;
                logicElseRowIndex = 0;
                $(".logicdiv").find('table').remove();
                $('.logicdiv').append(logicAppend('C'));
            })   

            $.ajax(
            {
                url: "@Url.Action("getSourceElement", "Home")",
                data: { /*element: inputElement*/ },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'text',
                success: function (res) {
                    if (res.length > 0) {
                        sourceElement = res;
                    }
                }
                });

            $.ajax(
            {
                url: "@Url.Action("GetAttributeData", "Home")",
                data: { /*element: inputElement*/ },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'text',
                success: function (res) {
                    if (res.length > 0) {
                        attributeElement = res;
                        //$('.inputAttribute').replaceWith(data);
                    }
                }
                });

            $('#btnAddSourceRow').click();
        })

        //把第一個tr的第一個td變空白
        function setFirstTd(title) {
            //Table的第一個Row的運算子要拿掉
            $("#" + title).find("td:first").html("");
        }

        //取得次Row
        function getSubRow(parentRowId) {
            return $('tr[id^="' + parentRowId + '"]').filter('.subrow');
        }

        //刪除次tr後，所有tr都要重新給ID
        function renameSubRow(parentRowId) {
            var idx = 0;
            var subRows = getSubRow(parentRowId);
            subRows.each(function () {
                idx++;
                $(this).attr('id', `${parentRowId}_${idx}`);
            });
        }

        //刪除主tr後，所有之後的主.次tr都要重新給ID
        function renameSubRow2(parentRowId, newParentRowId) {
            var idx = 0;
            var subRows = getSubRow(parentRowId);
            subRows.each(function () {
                idx++;
                $(this).attr('id', `${newParentRowId}_${idx}`);
            });
        }

        //取得來源別名下拉選單
        function getSource() {
            var res = '';
            if (arySource.length > 0) {
                res += '<select class="form-control sel-source" style="width:auto;">'
                for (var i = 0; i < arySource.length; i++) {

                    res += '<option>' + arySource[i].value + '</Option >'
                }
                res += '</select>'
            }
            return res;
        }

        //(新增.刪除來源後)更新來源別名下拉選單
        function updateSource(type, source) {
            if (type == "A") {
                for (var i = 0; i < arySource.length; i++) {
                    if (arySource[i].value == source) {
                        return "來源別名重複!!!";
                    }
                }

                arySource.push({
                    key: source,
                    value: source
                });
            }
            else if (type == "R") {
                for (var i = 0; i < arySource.length; i++) {
                    if (arySource[i].value == source) {
                        arySource.splice(i, 1)
                    }
                }
            }

            $('.sel-source').each(function () {
                var attr = $(this).attr('disabled');
                //尚未設定規則別名才更新下拉選單，已經設定的就不更新
                if (typeof attr == typeof undefined) {
                    $(this).replaceWith(getSource());
                }
            })
            return ''
        }

        //取得條件別名下拉選單
        function getCondition() {
            var res = '';
            if (aryCondition.length > 0) {
                res += '<select class="form-control selCondition" style="width:auto;">'
                for (var i = 0; i < aryCondition.length; i++) {
                    res += '<option title="' + aryCondition[i].tooltips+ '">' + aryCondition[i].value + '</Option >'
                }
                res += '</select>'
            }
            return res;
        }

        //(新增.刪除條件後)更新條件別名下拉選單
        function updateCondition(type, condition) {
            if (type == "A") {
                for (var i = 0; i < aryCondition.length; i++) {
                    if (aryCondition[i].value == condition) {
                        return "條件別名重複!!!";
                    }
                }

                aryCondition.push({
                    key: condition,
                    value: condition,
                    tooltips: 'THIS IS RULE' + condition + '!!!!!'
                });
            }
            else if (type == "R") {
                for (var i = 0; i < aryCondition.length; i++) {
                    if (aryCondition[i].value == source) {
                        aryCondition.splice(i, 1)
                    }
                }
            }

            //$('.selCondition').replaceWith(getCondition);
            return ''
        }

        //新增來源Row
        function sourceAppend(trId, type) {
            //先執行ajax取得sourceElement清單，並存放到全域變數sourceElement
            getSelect('sourceElement');

            var thead = '<table class="table table-bordered" style="border:3px #cccccc solid;">\
                <thead>\
                    <tr>\
                        <th class="text-center" style="width:10%; white-space: nowrap;">運算子</th>\
                        <th class="text-center">元件</th>\
                        <th class="text-center">屬性</th>\
                        <th class="text-center">行為</th>\
                        <th class="text-center">行為參數</th>\
                        <th class="text-center">來源別名</th>\
                        <th class="text-center"></th>\
                        <th class="text-center"></th>\
                        <th class="text-center"></th>\
                    </tr>\
                </thead>\
                <tbody>'

            var tr = ''
            if (type == "M") {
                tr = '\
                <tr id = ' + trId + ' >\
                <td class="text-center">' + getSelect('operator') + '</td>\
                <td class="text-center">' + sourceElement + '</td>\
                <td class="text-center">' + attributeElement+ '</select></td>\
                <td class="text-center">' + getSelect('method') + '</td>\
                <td class="text-center">' + getSelect('methodText') + '</td>\
                <td class="text-center"><input type="text" class="form-control input-source-alias" onkeyup="this.value = this.value.toUpperCase();"></input></td>\
                <td class="text-center" ><button class="btn btn-success setSource" type="button">setSource</button></td >\
                <td class="text-center" > <button class="btn btn-danger remove" type="button">-</button></td>\
                <td class="text-center"><button class="btn btn-info addSubRow" type="button">+</button></td>\
                </tr></tbody></table>';

                return thead + tr
            }
            else {
                tr = '\
                <tr class = "subrow" id=' + trId + '_SubRow' + '>\
                <td class="text-center"> ' + getSelect('operator') + '</td>\
                <td class="text-center"></td >\
                <td class="text-center">' + attributeElement + '</select></td>\
                <td class="text-center">' + getSelect('method') + '</td>\
                <td class="text-center">' + getSelect('methodText') + '</td>\
                <td></td>\
                <td></td>\
                <td class="text-center"><button class="btn btn-danger remove" type="button">-</button></td>\
                <td class="text-center"></td>\
                </tr>';

                return tr;
            }
        }

        //新增條件Row
        function conditionAppend(trId, type) {
            var thead = '\
<table class="table table-bordered" style="border:3px #cccccc solid;">\
    <thead>\
        <tr>\
        <th class="text-center" style="width:10%; white-space: nowrap;">運算子</th>\
        <th class="text-center">來源</th>\
        <th class="text-center">節點</th>\
        <th class="text-center">屬性</th>\
        <th class="text-center">行為</th>\
        <th class="text-center">行為參數</th>\
        <th class="text-center">規則別名</th>\
        <th class="text-center"></th>\
        <th class="text-center"></th>\
        <th class="text-center"></th>\
        </tr>\
    </thead>\
<tbody>';

            var tr = ''
            if (type == "M") {
                tr = '\
<tr id=' + trId + '>\
    <td class="text-center" > ' + getSelect('operator') + '</td >\
    <td class="text-center" > ' + getSource() + '</td >\
    <td class="text-center" > ' + getSelect('node') + '</td >\
    <td class="text-center">' + attributeElement + '</select></td>\
    <td class="text-center">' + getSelect('method') + '</td>\
    <td class="text-center">' + getSelect('methodText') + '</td>\
    <td class="text-center condition"><input type="text" class="form-control" onkeyup="this.value = this.value.toUpperCase();"></input></td>\
    <td class="text-center" ><button class="btn btn-success setCondition" type="button">setCondition</button></td >\
    <td class="text-center"><button class="btn btn-danger remove" type="button">-</button></td>\
    <td class="text-center" > <button class="btn btn-info addSubRow" type="button">+</button></td>\
</tr>\
</thead>\
</tbody>';

                return thead + tr
            }
            else {
                tr = '\
<tr class = "subrow" id=' + trId + '_SubRow' + '>\
    <td class="text-center">' + getSelect('operator') + '</td>\
    <td class="text-center" > ' + getSource() + '</td >\
    <td class="text-center" > ' + getSelect('node') + '</td >\
    <td class="text-center">' + attributeElement + '</select></td>\
    <td class="text-center">' + getSelect('method') + '</td>\
    <td class="text-center">' + getSelect('methodText') + '</td>\
    <td></td>\
    <td></td>\
    <td class="text-center" > <button class="btn btn-danger remove" type="button">-</button></td >\
    <td></td>\
</tr >';

                return tr;
            }
        }

        function logicAppend(Method/*C:變更下拉選單, A:新增列*/, trId) {
            var sel = $('#sel_logic').val();
            var tbody = '';
            var subrowName = '';

            if (sel == "N") {
                tbody = '\
<tr id="ifRow"><td><button id="btnAddLogicNormalRow" class="btn btn-info addif" type="button"> + </button></td></tr>\
';
            }
            else if (sel == "IF") {
                tbody = '\
<tr id="ifRow"><td>IF</td><td><button id="btnAddLogicIfRow" class="btn btn-info addif" type="button"> + </button></td></tr>\
<tr id="thenRow"><td>THEN</td><td><button id="btnAddLogicThenRow" class="btn btn-info addthen" type="button"> + </button></td></tr>\
';
            }
            else if (sel == "IE") {
                tbody = '\
<tr id="ifRow"><td>IF</td><td><button id="btnAddLogicIfRow" class="btn btn-info addif" type="button"> + </button></td></tr>\
<tr id="thenRow"><td>THEN</td><td><button id="btnAddLogicThenRow" class="btn btn-info addthen" type="button"> + </button></td></tr>\
<tr id="elseRow"><td>ELSE</td><td><button id="btnAddLogicElseRow" class="btn btn-info addelse" type="button"> + </button></td></tr>\
';
            }

            var tr = '';
                if (Method == "C") {
                    tr = '<table><tbody id = "tbody_logic">' +tbody+ '</tbody><table>';
                }
                else if (Method == "A") {
                    tr = '\
<tr id = "' + trId + '" class = "subrow">\
<td class="text-center"> ' + getSelect('operator') + '</td >\
<td class="text-center"> ' + getCondition() + '</td >\
<td class="text-center"><button class="btn btn-danger remove" type="button"> - </button></td>\
</tr>\
                        ';
                }

            return tr;
        }

        //取得下拉選單內容
        function getSelect(name) {
            var res = ''
            if (name == 'operator') {
                res = '\
<select class="form-control sel-operator"  style="width:auto;">\
    <option value = "And">並且</option >\
    <option value="Or">或</option>\
</select >\
                ';
                return res;
            }
            else if (name == 'method') {
                res = '\
<select class="form-control sel-method" style="width:auto;">\
    <option value="StartWith">開頭包含</option>\
    <option value="StartNoneWith">開頭不包含</option>\
    <option value ="EndWith"> 結尾包含</option >\
    <option value="Contain">包含</option>\
    <option value="NoneContain">不包含</option>\
    <option value="Between">介於</option>\
    <option value="Equal">等於</option>\
    <option value="Empty">等於空白</option>\
    <option value="NotEqual">不等於</option>\
    <option value="NotEmpty">不等於空白</option>\
    <option value="NotEqual">大於等於</option>\
    <option value="NotEqual">小於等於</option>\
    <option value="Rex">陣則表達式</option>\
</select >\
                ';
                return res;
            }
            else if (name == 'methodText') {
                res = '<input type="text" class="form-control input-methodtext" onkeyup="this.value = this.value.toUpperCase();">';
                return res;

            }
            else if (name == 'node') {
                //Header(起始元件), Body(中間元件), Sink(末端元件)
                res = '\
<select class="form-control sel-node" style="width:auto;">\
    <option value="H">起始節點</option>\
    <option value="BS">中間節點(含Sink)</option>\
    <option value="B">中間節點(不含Sink)</option>\
    <option value="S">末端節點</option>\
</select >\
                ';
                return res;
            }
        }

        function removeSelectAttributeFirstOpt() {
            $('.sourcediv').find('.sel-attribute option[value="TagName"]').remove();
        }

        //規則內容轉為物件後存放至aryRes，供後續使用(組描述文字 or JSON)
        function setSourceConditionObject(type, name) {
            var arySourceConditiOonbject = [];
            var obj; 
            var title = '';

            if (type == "S") {
                title = '#TBODY_SOURCE_'
            }
            else if (type == "C") {
                title = '#TBODY_CONDITION_'
            }

            $(title + name).find('tr').each(function () {  
                obj = new SourceConditionObj();
                obj.OBJECT_NAME = name;
                obj.SOURCE_TYPE = type;
                for (var i = 0; i < aryCondition.length; i++) {
                    if (aryCondition[i].key == obj.SOURCE) {
                        obj.SOURCE_TYPE = type;
                    }
                }
                $(this).find('td').each(function () {
                    if ($(this).find('select').hasClass('sel-operator')) {
                        obj.OPERATOR = $(this).find("option:selected").text()
                    }
                    else if ($(this).find('select').hasClass('sel-source')) {                                               
                        obj.SOURCE = $(this).find("option:selected").text()
                    }
                    else if ($(this).find('select').hasClass('sel-node')) {
                        obj.NODE = $(this).find("option:selected").text()
                    }
                    else if ($(this).find('select').hasClass('sel-source-element')) {
                        obj.ELEMENT = $(this).find("option:selected").text()
                    }
                    else if ($(this).find('select').hasClass('sel-attribute')) {
                        obj.ATTRIBUTE = $(this).find("option:selected").text()
                    }
                    else if ($(this).find('select').hasClass('sel-method')) {
                        obj.METHOD = $(this).find("option:selected").text()
                    }
                    else if ($(this).find('input').hasClass('input-methodtext')) {                      
                        obj.METHOD_TEXT = $(this).find('input').val();
                    }
                })
                arySourceConditiOonbject.push(obj);
            })

            aryRes.push({
                name: name,
                value: arySourceConditiOonbject
            });
        }

        //取得Source提示字串
        //var sourceString = '';
        //function getSourceObject(name) {
        //    for (var i = 0; i < aryRes.length; i++) {
        //        if (aryRes[i].name == name) {

        //            let sign = "  ";
        //            for (var j = 0; j < aryRes[i].value.length; j++) {
        //                if (j > 0) {
        //                    sign = "\r\n  ";
        //                }

        //                var obj = aryRes[i].value[j];
        //                if (obj.SOURCE_TYPE == "S") {
        //                    var element = '';
        //                    if (j == 0) {
        //                        element = "元件" + obj.ELEMENT + "的";
        //                    }
        //                    else {
        //                        element = obj.ELEMENT;
        //                    }
        //                    sourceString = obj.OPERATOR + element + obj.ATTRIBUTE + obj.METHOD + obj.METHOD_TEXT + ",";
        //                }
        //                else {
        //                    sourceString = obj.OPERATOR + sign + obj.SOURCE + "({" + obj.SOURCE + "})" + obj.NODE + "的" + obj.ATTRIBUTE + obj.METHOD + obj.METHOD_TEXT + ",";
        //                    sourceString = sourceString.replace("{" + obj.SOURCE + "}", getSourceObject(obj.SOURCE));               
        //                }
        //            }
        //        }
        //    }

        //    return sourceString.substring(0, sourceString.length - 1);
        //}

        //取得Condition提示字串
        function getConditionObject(name/*Condition Alias*/) {                      
            //sourceString = '';
            var res = '';
            var operator = '';

            for (var i = 0; i < aryRes.length; i++) {
                if (aryRes[i].name == name) {
                    for (var j = 0; j < aryRes[i].value.length; j++) {
                        var obj = aryRes[i].value[j];
                        if (j > 0) {
                            operator = "\r\n" + obj.OPERATOR + "\r\n";
                        }
                        else {
                            operator = obj.OPERATOR;
                        }
                        res += operator + obj.SOURCE + obj.NODE + "的" + obj.ATTRIBUTE + obj.METHOD + obj.METHOD_TEXT;
                    }                  
                }
            }
            return res;
        }

        //特殊字元檢查，別名位當html tag的ID，故不可以用特殊字元
        function specialCharCheck(strConditions) {            
            var res = '';
            //var specialKey = "[`~!#$^&;*()=|{}':;',//[//].<>/?~!#￥……&;*()——|{}【】‘;:”“'。,、?]‘'";
            var specialKey = "[`~!#$^&;*()=|{}':;',//[//].<>/?~!#￥……&;*()——|{}【】‘;:”“'。,、?]‘' ";
            //特殊字元列表
            var strArray = strConditions.toString().split("");
            for (var i = 0; i < strArray.length; i++) {
                var key = specialKey.indexOf(strArray[i]);
                if (key != -1) {
                    res = '別名請勿輸入特殊字元: ' + specialKey[key].toString();
                    break;
                    //alert('請勿輸入特殊字元: ' + specialKey[key].toString());
                    //清空輸入框
                    //document.getElementById("queryCondition").value = "";
                }
            }
            return res;
        }

        //行為參數檢核
        function methodTextCheck(item) {
            var res = '';
            item.closest('tbody').find('tr').not('head tr').each(function () {
                var currentRow = $(this)
                var inputMethod = currentRow.find('select[class*="sel-method"]').val();
                var inputMethodText = currentRow.find('input[class*="input-methodtext"]').val();
                if ((inputMethod != "Empty" && inputMethod != "NotEmpty") && inputMethodText.length <= 0) {
                    res = '行為參數必填!!!';
                    return res;
                }
            })

            return res;
        }

        //行為下拉選單行為綁定
        function changeMethod(item) {
            var currentMethod = item.find('select[class*="sel-method"] option:selected');
            var currentMethodText = item.find('input[class*="input-methodtext"]');
            if (currentMethod.val() == "Empty" || currentMethod.val() == "NotEmpty") {
                currentMethodText.val('');
                currentMethodText.attr('disabled', true);
            }
            else {
                currentMethodText.attr('disabled', false);
            }
        }

        //規則物件CLASS
        class SourceConditionObj {
            constructor(OBJECT_NAME, OPERATOR, SOURCE, SOURCE_TYPE, NODE, ELEMENT, ATTRIBUTE, METHOD, METHOD_TEXT) {
                this.OBJECT_NAME = OBJECT_NAME;
                this.OPERATOR = !OPERATOR ? "" : OPERATOR;
                this.SOURCE = !SOURCE ? "" : SOURCE;
                this.SOURCE_TYPE = !SOURCE_TYPE ? "" : SOURCE_TYPE;
                this.NODE = !NODE ? "" : NODE;
                this.ELEMENT = !ELEMENT ? "" : ELEMENT;;
                this.ATTRIBUTE = !ATTRIBUTE ? "" : ATTRIBUTE;
                this.METHOD = !METHOD ? "" : METHOD;
                this.METHOD_TEXT = !METHOD_TEXT ? "" : METHOD_TEXT;
            }
        }
    </script>
}