@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";


    <form class="container pt-4">
        <!--<div class="row">
            <div class="form-group col-md-6">
                <label for="inputElement">加入類別</label>
                <select id="inputType" class="form-control">
                    <option value="SOURCE">來源</option>
                    <option value="CONDITION">條件</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputElement"></label>-->
        @*<input type="text" class="form-control" id="inputGroupName">*@
        <!--</div>
        </div>-->

        <div class="row">
            @*<div class="form-group col-md-6">
                    <label for="inputElement">元件</label>
                    @Html.DropDownList("inputElement", (IEnumerable<SelectListItem>)ViewData["inputElement"], new { @class = "form-control" })
                </div>*@
            @*<div class="form-group col-md-6">
                    <label for="inputAttribute">元件屬性</label>
                    <select id="inputAttribute" class="form-control">
                        <option selected></option>
                    </select>
                </div>*@
        </div>

        <div class="row">
            @*<div class="form-group col-md-6">
                    <label for="inputMethod">篩選條件</label>
                    <select id="inputMethod" class="form-control">
                        <option value="StartWith">開頭包含</option>
                        <option value="EndWith">結尾包含</option>
                        <option value="Contain">包含</option>
                        <option value="Between">介於</option>
                        <option value="Equal">等於</option>
                        <option value="NotEqual">不等於</option>
                        <option value="NotEqual">大於等於</option>
                        <option value="NotEqual">小於等於</option>
                    </select>
                </div>*@
            @*<div class="form-group col-md-6">
                    <label for="inputMethodText">篩選條件參數</label>
                    <input type="text" class="form-control" id="inputMethodText">
                </div>*@
        </div>

        @*<div class="row">
                <div class="form-group col-md-6">
                    <label for="inputOperator">運算子</label>
                    <select id="inputOperator" class="form-control">
                        <option value="And">And</option>
                        <option value="Or">Or</option>
                    </select>
                </div>
            </div>*@
        @*<button type="submit" class="btn btn-primary">Sign in</button>*@
    </form>

    <br><br>    
    <div id="source">
    <h style="color:#ff0000; font-size:30px">Set SOURCE</h>
    <div class="container pt-4" style="border-color:#ff0000;border-width:3px;border-style:solid;padding:5px;">
        <div class="sourcediv table-responsive">
            @*<table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">inputOperator</th>
                            <th class="text-center">inputElement</th>
                            <th class="text-center">inputAttribute</th>
                            <th class="text-center">inputMethod</th>
                            <th class="text-center">inputMethodText</th>
                            <th class="text-center">HeadGroupName</th>
                            <th class="text-center">resultName</th>
                            <th class="text-center">Remove Row</th>
                            <th class="text-center">Add SubRow</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyHead">
                    </tbody>
                </table>*@
        </div>
    </div>
    <button class="btn btn-md btn-primary" id="btnAddSourceRow" type="button">新增來源</button>
    </div>

    <br><br>  
    <div id="condition">
    <h style="color: #006eff; font-size: 30px">Set CONDITION</h>
    <div class="container pt-4" style="border-color:#006eff;border-width:3px;border-style:solid;padding:5px;">
        <div class="conditiondiv table-responsive">
            @*<table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">inputOperator</th>
                            <th class="text-center">inputElement</th>
                            <th class="text-center">inputAttribute</th>
                            <th class="text-center">inputMethod</th>
                            <th class="text-center">inputMethodText</th>
                            <th class="text-center">resultName</th>
                            <th class="text-center">Remove Row</th>
                            <th class="text-center">Add SubRow</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyFoot">
                    </tbody>
                </table>*@
        </div>
    </div>
    <button class="btn btn-md btn-primary" id="btnAddConditionRow" type="button">新增條件</button>
    </div>

    <br><br>
    <div id="logic">
    <h style="color: #006eff; font-size: 30px">SetLOGIC</h>
    <div class="container pt-4" style="border-color:#006eff;border-width:3px;border-style:solid;padding:5px;">
        <select id="sel_logic" class="form-control">
            <option value="N">一般判斷式</option>
            <option value="IF">IF判斷式</option>
            <option value="IE">IF..ELSE判斷式</option>
        </select>
        <div class="col-md-6">
            <div class="logicdiv table-responsive">
            </div>
        </div>
    </div>
    </div>
}

@section Scripts{
    <script>
        var SourceRowIdTitle = 'oForm_SourceRow_';
        var ConditionRowIdTitle = 'oForm_ConditionRow_';
        var LogicIfRowIdTitle = 'oForm_LogicIfRow_';
        var LogicThenRowIdTitle = 'oForm_LogicThenRow_';
        var LogicElseRowIdTitle = 'oForm_LogicElseRow_';
        var sourceElement = '';
        var attributeElement = '';
        const arySource = [];
        const aryCondition = [];

        $(document).ready(function () {
            //row expand key word => data-toggle="collapse", <a data-toggle="collapse" href="#collapseExample">+</a>
            //ChangeAttributeReplaceWith();
            var sourceRowIndex = 0;
            var conditionRowIndex = 0;
            var logicIfRowIndex = 0;
            var logicThenRowIndex = 0;
            var logicElseRowIndex = 0;


            /******來源區塊*****/
            $('#btnAddSourceRow').on('click', function () {
                sourceRowIndex++;
                var trId = SourceRowIdTitle + sourceRowIndex
                $('.sourcediv').append(sourceAppend(trId, 'M'));
                setFirstTd(trId);
            });
            $('.sourcediv').on('click', '.remove', function () {
                if (!$(this).closest('tr').hasClass('subrow'))
                {// 移除主Row
                    var currentTrId = $(this).closest('tr').attr('id')
                    var subRows = getSubRow(currentTrId);
                    subRows.each(function () {
                        $(this).closest('tr').remove();
                    })

                    /* 重新設定ID */
                    var child = $(this).closest('tr').nextAll().not(".subrow")
                    child.each(function () {
                        var id = $(this).attr('id');
                        var dig = parseInt(id.substring(21));

                        // Modifying row index.
                        //idx.html(`${dig - 1}`);

                        // Modifying row id.
                        renameSubRow2(id, `${SourceRowIdTitle}${dig - 1}`);
                        $(this).attr('id', `${SourceRowIdTitle}${dig - 1}`);
                    });

                    //Head刪除主Row後，有相依的Foot Row也要一併刪除
                    var source = $(this).closest('tr').find('td[class*="source"]').html();
                    if (source.length > 0) {
                        $('.conditiondiv').find('tr td[class*="tdSource"] select').each(function () {
                            if ($(this).val() == source) {
                                $('.conditiondiv').find('tr button[class*="remove"]').click();
                            }
                        })
                        //移除下拉選單對應的Source
                        updateSource("R", source);
                    }
                    $(this).closest('table').remove();

                    sourceRowIndex--;
                }
                else
                {//移除次Row
                    var id = $(this).closest('tr').attr('id');
                    var idSplit = id.split('_');
                    $(this).closest('tr').remove();
                    var parentId = idSplit[0] + '_' + idSplit[1] + '_' + idSplit[2] + '_'+ idSplit[3]
                    renameSubRow(parentId);
                }


                setFirstTd();
            });
            $('.sourcediv').on('click', '.addSubRow', function () {
                var parentRowId = $(this).closest('tr').attr('id');
                $('#' + parentRowId).after(sourceAppend(parentRowId, 'D'))
                renameSubRow(parentRowId)
            });
            $('.sourcediv').on('click', '.setSource', function () {
                if (/*confirm('別名設定後無法變更\n\n請確認！') == true*/1==1) {
                    var inputSource = $(this).closest('tr').find('td[class*="source"] input').val().trim();
                    //加入源頭條件群組名稱至下拉選單
                    if (inputSource.length > 0) {
                        /*新增下拉選單選項*/
                        var res = updateSource("A", inputSource)
                        if (res.length > 0) {
                            alert(res);
                            return;
                        }
                        //確認別名後，無法再進行異動
                        $(this).closest('tbody').find('button').attr('disabled', true);
                        $(this).closest('tbody').find('select').attr('disabled', true);
                        $(this).closest('tbody').find('input').attr('disabled', true);
                        //變更<tbody> ID
                        $(this).closest('tr').parent('tbody').attr('id', 'TBODY_SOURCE_' + inputSource);
                    }
                } else {
                    return ;
                }
            })


            /******條件區塊*****/
            $('#btnAddConditionRow').on('click', function () {
                if (arySource.length <= 0) {
                    alert('請先設定來源別名!');
                    return;
                }

                conditionRowIndex++;
                var trId = ConditionRowIdTitle + conditionRowIndex
                $('.conditiondiv').append(conditionAppend(trId, 'M'));
                setFirstTd(trId);
            });
            $('.conditiondiv').on('click', '.remove', function () {
                if (!$(this).closest('tr').hasClass('subrow')) {// 移除主Row
                    var currentTrId = $(this).closest('tr').attr('id')
                    var subRows = getSubRow(currentTrId);
                    subRows.each(function () {
                        $(this).closest('tr').remove();
                    })

                    /* 重新設定ID */
                    var child = $(this).closest('tr').nextAll().not(".subrow")
                    child.each(function () {
                        var id = $(this).attr('id');
                        var dig = parseInt(id.substring(21));

                        // Modifying row index.
                        //idx.html(`${dig - 1}`);

                        // Modifying row id.
                        renameSubRow2(id, `${ConditionRowIdTitle}${dig - 1}`);
                        $(this).attr('id', `${ConditionRowIdTitle}${dig - 1}`);
                    });

                    $(this).closest('table').remove();

                    conditionRowIndex--;
                }
                else {
                    var id = $(this).closest('tr').attr('id');
                    var idSplit = id.split('_');
                    $(this).closest('tr').remove();
                    var parentId = idSplit[0] + '_' + idSplit[1] + '_' + idSplit[2] + '_' + idSplit[3]
                    renameSubRow(parentId);
                }


                //setFirstTd();
            });
            $('.conditiondiv').on('click', '.addSubRow', function () {
                var parentRowId = $(this).closest('tr').attr('id');
                $('#' + parentRowId).after(conditionAppend(parentRowId, 'D'));
                renameSubRow(parentRowId)
            });
            $('.conditiondiv').on('click', '.setCondition', function () {
                if (/*confirm('別名設定後無法變更\n\n請確認！') == true*/1==1) {
                    var inputSource = $(this).closest('tr').find('td[class*="condition"] input').val().trim();
                    //加入源頭條件群組名稱至下拉選單
                    if (inputSource.length > 0) {
                        /*新增下拉選單選項*/
                        var res = updateCondition("A", inputSource)
                        if (res.length > 0) {
                            alert(res);
                            return;
                        }

                        //確認別名後，無法再進行異動
                        $(this).closest('tbody').find('button').attr('disabled', true);
                        $(this).closest('tbody').find('select').attr('disabled', true);
                        $(this).closest('tbody').find('input').attr('disabled', true);
                        //變更<tbody> ID
                        $(this).closest('tr').parent('tbody').attr('id', 'TBODY_CONDITION__' + inputSource);
                    }
                } else {
                    return;
                }
            })
            $('.conditiondiv').on('change', '.selSource', function () {
                var sel = $(this).closest('tr').find('td[class*="tdSource"] select');
                sel.attr("source", sel.val());
            })


            /******邏輯組合區塊*****/
            /*IF SCOPE*/
            $('.logicdiv').on('click', '.addif', function () {
                logicIfRowIndex++;
                var preTrId = LogicIfRowIdTitle + (logicIfRowIndex - 1)
                var trId = LogicIfRowIdTitle + logicIfRowIndex;
                if (logicIfRowIndex == 1) {
                    $('.logicdiv').find('#ifRow').after(logicAppend('A', trId));
                }
                else {
                    $('#' + preTrId).after(logicAppend('A', trId));
                }                
                setFirstTd(LogicIfRowIdTitle + '1');
            });
            $('.logicdiv').on('click', '.addthen', function () {
                logicThenRowIndex++;
                var preTrId = LogicThenRowIdTitle + (logicThenRowIndex - 1)
                var trId = LogicThenRowIdTitle + logicThenRowIndex;
                if (logicThenRowIndex == 1) {
                    $('.logicdiv').find('#thenRow').after(logicAppend('A', trId));
                }
                else {
                    $('#' + preTrId).after(logicAppend('A', trId));
                }
                setFirstTd(LogicThenRowIdTitle + '1');
                //renameSubRow(trId);
            });
            $('.logicdiv').on('click', '.addelse', function () {
                logicElseRowIndex++;
                var preTrId = LogicElseRowIdTitle + (logicElseRowIndex - 1)
                var trId = LogicElseRowIdTitle + logicElseRowIndex;
                if (logicElseRowIndex == 1) {
                    $('.logicdiv').find('#elseRow').after(logicAppend('A', trId));
                }
                else {
                    $('#' + preTrId).after(logicAppend('A', trId));
                }
                setFirstTd(LogicElseRowIdTitle + '1');
                //renameSubRow(trId);
            });
            $('.logicdiv').on('click', '.remove', function () {
                var currentTrId = $(this).closest('tr').attr('id');
                var removeType = '';
                var sub = 0;
                var title = '';

                if (currentTrId.indexOf('If') != -1) {
                    logicIfRowIndex--;
                    removeType = 'oForm_LogicIfRow';
                    sub = 17;//從index17開始取id編號
                    title = LogicIfRowIdTitle;
                }
                else if (currentTrId.indexOf('Then') != -1) {
                    logicThenRowIndex--;
                    removeType = 'oForm_LogicThenRow';
                    sub = 19;//從index19開始取id編號
                    title = LogicThenRowIdTitle;
                }
                else if (currentTrId.indexOf('Else') != -1) {
                    logicElseRowIndex--;
                    removeType = 'oForm_LogicElseRow';
                    sub = 19;
                    title = LogicElseRowIdTitle;
                }

                var child = $(this).closest('tr').nextAll();
                child.each(function () {
                    debugger;
                    if ($(this).attr('id').indexOf(removeType) != -1) {
                        var id = $(this).attr('id');                        
                        var dig = parseInt(id.substring(sub));
                        $(this).attr('id', `${title}${dig - 1}`);
                    }
                })
                $(this).closest('tr').remove();
                setFirstTd(title + '1');
            })
            $('#sel_logic').on('change', function () {
                if (aryCondition.length <= 0) {
                    alert('請先設定條件別名!');
                    return;
                }

                logicIfRowIndex = 0;
                logicThenRowIndex = 0;
                logicElseRowIndex = 0;
                $(".logicdiv").find('table').remove();
                $('.logicdiv').append(logicAppend('C'));
            })            

            $.ajax(
            {
                url: "@Url.Action("getSourceElement", "Home")",
                data: { /*element: inputElement*/ },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'text',
                success: function (res) {
                    if (res.length > 0) {
                        sourceElement = res;
                    }
                }
                });

            $.ajax(
            {
                url: "@Url.Action("GetAttributeData", "Home")",
                data: { /*element: inputElement*/ },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'text',
                success: function (res) {
                    if (res.length > 0) {
                        attributeElement = res;
                        //$('.inputAttribute').replaceWith(data);
                    }
                }
            });
        })

        //把第一個tr的第一個td變空白
        function setFirstTd(title) {
            //Table的第一個Row的運算子要拿掉
            $("#" + title).find("td:first").html("");
        }

        //取得次Row
        function getSubRow(parentRowId) {
            return $('tr[id^="' + parentRowId + '"]').filter('.subrow');
        }

        //刪除次tr後，所有tr都要重新給ID
        function renameSubRow(parentRowId) {
            var idx = 0;
            var subRows = getSubRow(parentRowId);
            subRows.each(function () {
                idx++;
                $(this).attr('id', `${parentRowId}_${idx}`);
            });
        }

        //刪除主tr後，所有之後的主.次tr都要重新給ID
        function renameSubRow2(parentRowId, newParentRowId) {
            var idx = 0;
            var subRows = getSubRow(parentRowId);
            subRows.each(function () {
                idx++;
                $(this).attr('id', `${newParentRowId}_${idx}`);
            });
        }

        //取得來源別名下拉選單
        function getSource() {
            var res = '';
            if (arySource.length > 0) {
                res += '<select class="form-control selSource" style="width:auto;">'
                for (var i = 0; i < arySource.length; i++) {

                    res += '<option>' + arySource[i].value + '</Option >'
                }
                res += '</select>'
            }
            return res;
        }

        //(新增.刪除來源後)更新來源別名下拉選單
        function updateSource(type, source) {
            if (type == "A") {
                for (var i = 0; i < arySource.length; i++) {
                    if (arySource[i].value == source) {
                        return "來源別名重複!!!";
                    }
                }

                arySource.push({
                    key: source,
                    value: source
                });
            }
            else if (type == "R") {
                for (var i = 0; i < arySource.length; i++) {
                    if (arySource[i].value == source) {
                        arySource.splice(i, 1)
                    }
                }
            }

            //$('.selSource').replaceWith(getSource());
            $('.selSource').each(function () {
                var attr = $(this).attr('disabled');
                if (typeof attr == typeof undefined) {
                    $(this).replaceWith(getSource());
                }
            })
            return ''
        }

        //取得條件別名下拉選單
        function getCondition() {
            var res = '';
            if (aryCondition.length > 0) {
                res += '<select class="form-control selCondition" style="width:auto;">'
                for (var i = 0; i < aryCondition.length; i++) {

                    res += '<option title="' + aryCondition[i].tooltips+ '">' + aryCondition[i].value + '</Option >'
                }
                res += '</select>'
            }
            return res;
        }

        //(新增.刪除條件後)更新條件別名下拉選單
        function updateCondition(type, condition) {
            if (type == "A") {
                for (var i = 0; i < aryCondition.length; i++) {
                    if (aryCondition[i].value == condition) {
                        return "條件別名重複!!!";
                    }
                }

                aryCondition.push({
                    key: condition,
                    value: condition,
                    tooltips: 'THIS IS RULE' + condition + '!!!!!'
                });
            }
            else if (type == "R") {
                for (var i = 0; i < aryCondition.length; i++) {
                    if (aryCondition[i].value == source) {
                        aryCondition.splice(i, 1)
                    }
                }
            }

            $('.selCondition').replaceWith(getCondition);
            return ''
        }

        //新增來源Row
        function sourceAppend(trId, type) {
            //先執行ajax取得sourceElement清單，並存放到全域變數sourceElement
            getSelect('sourceElement');

            var thead = '<table class="table table-bordered" style="border:3px #cccccc solid;">\
                <thead>\
                    <tr>\
                        <th class="text-center">OPERATOR</th>\
                        <th class="text-center">ELEMENT</th>\
                        <th class="text-center">ATTRIBUTE</th>\
                        <th class="text-center">METHOD</th>\
                        <th class="text-center">METHOD TEXT</th>\
                        <th class="text-center">source</th>\
                        <th class="text-center">setSource</th>\
                        <th class="text-center">Remove Row</th>\
                        <th class="text-center">Add SubRow</th>\
                    </tr>\
                </thead>\
                <tbody>'

            var tr = ''
            if (type == "M") {
                tr = '\
                <tr id = ' + trId + ' >\
                <td class="text-center">' + getSelect('operator') + '</td>\
                <td class="text-center">' + sourceElement + '</td>\
                <td class="text-center">' + attributeElement+ '</select></td>\
                <td class="text-center">' + getSelect('method') + '</td>\
                <td class="text-center">' + getSelect('methodText') + '</td>\
                <td class="text-center source"><input type="text" class="form-control"></input></td>\
                <td class="text-center" ><button class="btn btn-info setSource" type="button">setSource</button></td >\
                <td class="text-center" > <button class="btn btn-danger remove" type="button">Remove</button></td>\
                <td class="text-center"><button class="btn btn-info addSubRow" type="button">AddSubRow</button></td>\
                </tr></tbody></table>';

                return thead + tr
            }
            else {
                tr = '\
                <tr class = "subrow" id=' + trId + '_SubRow' + '>\
                <td class="text-center" > ' + getSelect('operator') + '</td>\
                <td class="text-center tdSource" ></td >\
                <td class="text-center">' + attributeElement + '</select></td>\
                <td class="text-center">' + getSelect('method') + '</td>\
                <td class="text-center">' + getSelect('methodText') + '</td>\
                <td></td>\
                <td></td>\
                <td class="text-center"><button class="btn btn-danger remove" type="button">Remove</button></td>\
                <td class="text-center"></td>\
                </tr>';

                return tr;
            }
        }

        //新增條件Row
        function conditionAppend(trId, type) {
            var thead = '\
<table class="table table-bordered" style="border:3px #cccccc solid;">\
    <thead >\
        <tr>\
        <th class="text-center">OPERATOR</th>\
        <th class="text-center">SOURCE</th>\
        <th class="text-center">NODE</th>\
        <th class="text-center">ATTRIBUTE</th>\
        <th class="text-center">METHOD</th>\
        <th class="text-center">METHOD TEXT</th>\
        <th class="text-center">condition</th>\
        <th class="text-center">setCondition</th>\
        <th class="text-center">Remove Row</th>\
        <th class="text-center">Add SubRow</th>\
        </tr>\
    </thead>\
<tbody>';

            var tr = ''
            if (type == "M") {
                tr = '\
<tr id=' + trId + '>\
    <td class="text-center" > ' + getSelect('operator') + '</td >\
    <td class="text-center tdSource" > ' + getSource() + '</td >\
    <td class="text-center" > ' + getSelect('node') + '</td >\
    <td class="text-center">' + attributeElement + '</select></td>\
    <td class="text-center">' + getSelect('method') + '</td>\
    <td class="text-center">' + getSelect('methodText') + '</td>\
    <td class="text-center condition"><input type="text" class="form-control"></input></td>\
    <td class="text-center" ><button class="btn btn-info setCondition" type="button">setCondition</button></td >\
    <td class="text-center"><button class="btn btn-danger remove" type="button">Remove</button></td>\
    <td class="text-center" > <button class="btn btn-info addSubRow" type="button">AddSubRow</button></td>\
</tr >\
</thead>\
<tbody>';

                return thead + tr
            }
            else {
                tr = '\
<tr class = "subrow" id=' + trId + '_SubRow' + '>\
    <td class="text-center">' + getSelect('operator') + '</td>\
    <td class="text-center tdSource" > ' + getSource() + '</td >\
    <td class="text-center" > ' + getSelect('node') + '</td >\
    <td class="text-center">' + attributeElement + '</select></td>\
    <td class="text-center">' + getSelect('method') + '</td>\
    <td class="text-center">' + getSelect('methodText') + '</td>\
    <td></td>\
    <td></td>\
    <td class="text-center" > <button class="btn btn-danger remove" type="button">Remove</button></td >\
    <td></td>\
</tr >';

                return tr;
            }
        }

        function logicAppend(Method/*C:變更下拉選單, A:新增列*/, trId) {
            var sel = $('#sel_logic').val();
            var tbody = '';
            var subrowName = '';

            if (sel == "N") {
                tbody = '\
<tr id="ifRow"><td><button id="btnAddLogicNormalRow" class="btn btn-info addif" type="button"> + </button></td></tr>\
';
            }
            else if (sel == "IF") {
                tbody = '\
<tr id="ifRow"><td>IF</td><td><button id="btnAddLogicIfRow" class="btn btn-info addif" type="button"> + </button></td></tr>\
<tr id="thenRow"><td>THEN</td><td><button id="btnAddLogicThenRow" class="btn btn-info addthen" type="button"> + </button></td></tr>\
';
            }
            else if (sel == "IE") {
                tbody = '\
<tr id="ifRow"><td>IF</td><td><button id="btnAddLogicIfRow" class="btn btn-info addif" type="button"> + </button></td></tr>\
<tr id="thenRow"><td>THEN</td><td><button id="btnAddLogicThenRow" class="btn btn-info addthen" type="button"> + </button></td></tr>\
<tr id="elseRow"><td>ELSE</td><td><button id="btnAddLogicElseRow" class="btn btn-info addelse" type="button"> + </button></td></tr>\
';
            }

            var tr = '';
                if (Method == "C") {
                    tr = '<table><tbody id = "tbody_logic">' +tbody+ '</tbody><table>';
                }
                else if (Method == "A") {
                    tr = '\
<tr id = "' + trId + '" class = "subrow">\
<td class="text-center"> ' + getSelect('operator') + '</td >\
<td class="text-center"> ' + getCondition() + '</td >\
<td class="text-center"><button class="btn btn-danger remove" type="button"> - </button></td>\
</tr>\
                        ';
                }

            return tr;
        }

        function getSelect(name) {
            var res = ''
            if (name == 'operator') {
                res = '\
<select id="operator" class="form-control operator">\
    <option value = "And">And</option >\
    <option value="Or">Or</option>\
</select >\
                ';
                return res;
            }
            else if (name == 'method') {
                res = '\
<select id = "inputMethod" class="form-control" style="width:auto;">\
    <option value="StartWith">開頭包含</option>\
    <option value="StartNoneWith">開頭不包含</option>\
    < option value = "EndWith" > 結尾包含</option >\
    <option value="Contain">包含</option>\
    <option value="NoneContain">不包含</option>\
    <option value="Between">介於</option>\
    <option value="Equal">等於</option>\
    <option value="NotEqual">不等於</option>\
    <option value="NotEqual">大於等於</option>\
    <option value="NotEqual">小於等於</option>\
</select >\
                ';
                return res;
            }
            else if (name == 'methodText') {
                res = '<input type="text" class="form-control">';
                return res;

            }
            else if (name == 'node') {
                res = '\
<select id = "inputNode" class="form-control" style="width:auto;">\
    <option value="A">全部元件</option>\
    <option value="S">起始元件</option>\
    <option value="R">中間元件</option>\
    <option value="S">末端元件</option>\
</select >\
                ';
                return res;
            }
        }
    </script>
}